<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--
        PAGINA PRINCIPAL DO CAP 03 DO LIVRO, 
        ONDE SERA EXIBIDO UMA TABELA COM OS LINKS DOS EXERCICIOS.
    -->
    <link rel="icon" href="../images/logo.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios - CAPITULO 03</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f8f0b10b6b.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/mainCap03.css">
</head>
<body>
   <nav class="navbar navbar-dak bg-dark">
       <div class="container">
            <h1 id="tituloBook">
                JAVASCRIPT & JQUERY
            </h1>
       </div>
   </nav>
   <br>
   <main style="background: #f8f9fa; margin-top: -25px;">
       <section class="container">
            <div class="page-header">
                <br>
                <center>
                    <h2>Exercícios do Capitulo 3: Funções, métodos e objetos</h2>
                </center>
            </div>
            <div class="page-body">
                <br>
                <center>
                    <table class="table table-hover">
                        <thead>
                            <th># </th>
                            <th>Descrição</th>
                            <th>
                                <center>Link do Exemplo</center>
                            </th>
                        </thead>
                        <tbody>
                            <tr><!--Linha 01-->
                                <td>#1</td>
                                <td>Uma função básica</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex01_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 02-->
                                <td>#2</td>
                                <td>Declarando funções que precisam de informações</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex02_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 03-->
                                <td>#3</td>
                                <td>Obtendo múltiplos valores a partir de uma função</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex03_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 04-->
                                <td>#4</td>
                                <td>OBJETOS (Programação orientada a objetos): Criando objetos com notação Literal</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex04_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 05-->
                                <td>#5</td>
                                <td>OBJETOS (Programação orientada a objetos): Criando mais objetos literais</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex05_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 06-->
                                <td>#6</td>
                                <td>OBJETOS (Programação orientada a objetos): Criando um objeto com notação de Construtor</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex06_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 07-->
                                <td>#7</td>
                                <td>OBJETOS (Programação orientada a objetos): Criando e acessando objetos com notação de Construtor.</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex07_cap03')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 08-->
                                <td>#8</td>
                                <td>OBJETOS (Programação orientada a objetos): Adicionando e removendo propiedades de um Objeto</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex08_cap03')">
                                        Ver Exemplo
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 08-->
                                <td>#9</td>
                                <td>OBJETOS (Programação orientada a objetos): Uso do BOM - Browser Objetc Model</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex09_cap03')">
                                        Ver Exemplo
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 10-->
                                <td>#10</td>
                                <td>OBJETOS (Programação orientada a objetos): Uso do DOM - Document Object Model</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex10_cap03')">
                                        Ver Exemplo
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 11-->
                                <td>#11</td>
                                <td>Exemplo <b>FINAL</b> do capítulo</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex11_cap03')">
                                        Ver Exemplo
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
       </section>
   </main>

   <footer id="rodape">
       <center>
            Eduardo Rojas - Copyright &copy; <span id="anoAtual"></span>
       </center>
   </footer>

   <script>
       var anoAtual = new Date()
       var ano = anoAtual.getFullYear()
       document.getElementById('anoAtual').innerHTML = ano
   </script>
</body>
</html>