<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--
        PAGINA PRINCIPAL DO CAP 04 DO LIVRO, 
        ONDE SERA EXIBIDO UMA TABELA COM OS LINKS DOS EXERCICIOS.
    -->
    <link rel="icon" href="../images/logo.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios - CAPITULO 04</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f8f0b10b6b.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilos.css">

</head>
<body>
   <nav class="navbar navbar-dak bg-dark">
       <div class="container">
            <h1 id="tituloBook">
                JAVASCRIPT & JQUERY
            </h1>
       </div>
   </nav>
   <br>
   <main style="background: #f8f9fa; margin-top: -25px;">
       <section class="container">
            <div class="page-header">
                <br>
                <center>
                    <h2>Exercícios do Capitulo 4: Decisões & Loops</h2>
                </center>
            </div>
            <div class="page-body">
                <table class="table table-hover">
                    <thead class="bg-info" style="color: aliceblue;">
                        <th># </th>
                        <th>Descrição</th>
                        <th>
                            <center>Link do Exemplo</center>
                        </th>
                    </thead>
                    <tbody>
                        <tr><!--Linha 01-->
                            <td>#01</td>
                            <td>Utilizando operadores de comparação</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex01_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 02-->
                            <td>#02</td>
                            <td>Comparing Two Expressions</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex02_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 03-->
                            <td>#03</td>
                            <td>Usando "E" (&&) lógico</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex03_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 04-->
                            <td>#04</td>
                            <td>Usando instruções IF</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex04_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 05-->
                            <td>#05</td>
                            <td>Usando instruções IF-ELSE</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex05_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 06-->
                            <td>#06</td>
                            <td>Usando instruções Switch</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex06_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 07-->
                            <td>#07</td>
                            <td>Usando Loops For</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex07_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                        </tr>
                        <tr><!--Linha 08-->
                            <td>#08</td>
                            <td>Usando Loops While</td>
                            <td align="center">
                                <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex08_cap04')">
                                    Ver Exemplo 
                                </button>
                            </td>
                            <tr><!--Linha 09-->
                                <td>#09</td>
                                <td>Usando Loops Do While</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex09_cap04')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 09-->
                                <td>#10</td>
                                <td><b>Exemplo final: Decisões e Loops</b></td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex10_cap04')">
                                        Ver Exemplo 
                                    </button>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-danger">
                    <i class="fas fa-hand-point-left"></i> capítulo anterior
                </button>
            </div>
       </section>
   </main>

   <footer id="rodape" class="mt-3">
       <center>
            Eduardo Rojas - Copyright &copy; <span id="anoAtual"></span>
       </center>
   </footer>

   <script>
       var anoAtual = new Date()
       var ano = anoAtual.getFullYear()
       document.getElementById('anoAtual').innerHTML = ano
   </script>
</body>
</html>