<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--
        PAGINA PRINCIPAL DO CAP 04 DO LIVRO, 
        ONDE SERA EXIBIDO UMA TABELA COM OS LINKS DOS EXERCICIOS.
    -->
    <link rel="icon" href="../images/logo.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios - CAPITULO 03</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f8f0b10b6b.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
   <nav class="navbar navbar-dak bg-dark">
       <div class="container">
            <h1 id="tituloBook">
                JAVASCRIPT & JQUERY
            </h1>
       </div>
   </nav>
   <br>
   <main style="background: #f8f9fa; margin-top: -25px;">
       <section class="container">
            <div class="page-header">
                <br>
                <center>
                    <h2>Exercícios do Capitulo 4: Decisões & Loops</h2>
                </center>
            </div>
            <div class="page-body">
            </div>
       </section>
   </main>

   <footer id="rodape">
       <center>
            Eduardo Rojas - Copyright &copy; <span id="anoAtual"></span>
       </center>
   </footer>

   <script>
       var anoAtual = new Date()
       var ano = anoAtual.getFullYear()
       document.getElementById('anoAtual').innerHTML = ano
   </script>
</body>
</html>