<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--
        PAGINA PRINCIPAL DO CAP 02 DO LIVRO, 
        ONDE SERA EXIBIDO UMA TABELA COM OS LINKS DOS EXERCICIOS.
    -->
    <link rel="icon" href="../images/logo.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios Cap02</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/f8f0b10b6b.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/mainc02.css">
</head>
<body>
   <nav class="navbar navbar-dak bg-dark">
       <div class="container">
            <h1 id="tituloBook">
                JAVASCRIPT & JQUERY
            </h1>
       </div>
   </nav>
   <br>
   <main>
       <section class="container">
            <div class="page-header">
                <center>
                    <h2>Execicios do Capitulo 2: Instruções básica de JAVASCRIPT</h2>
                </center>
            </div>
            <div class="page-body">
                <center>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <th># </th>
                            <th>Descrição</th>
                            <th>
                                <center>Link do Exemplo</center>
                            </th>
                        </thead>
                        <tbody>
                            <tr><!--Linha 01-->
                                <td>#1</td>
                                <td>Usando uma variável para armazenar um número</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex01_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i> 
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 02-->
                                <td>#2</td>
                                <td>Armazenando string em uma variável</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex02_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 03-->
                                <td>#3</td>
                                <td>Usandos aspas nas string's em uma variável</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex03_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr><!--Linha 04-->
                                <td>#4</td>
                                <td>Usando uma variável para armazenar um booleano</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex04_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 05-->
                                <td>#5</td>
                                <td>Alterando o valor de uma varável (booleanos)</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex05_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 06-->
                                <td>#6</td>
                                <td>Criando Arrays</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex06_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 07-->
                                <td>#7</td>
                                <td>Acessando e mudando valores de um Array</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex07_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 08-->
                                <td>#8</td>
                                <td>Usando operadores aritméticos</td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex08_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 09-->
                                <td>#9</td>
                                <td><b>Exemplo final do capítulo 02</b></td>
                                <td align="center">
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex09_cap02')" data-toggle="tooltip" data-placement="right" title="Ver exemplo">
                                        <i class="fas fa-eye" style="font-size: 16px;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
       </section>
   </main>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>