<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/logo.jpg">
    <link rel="stylesheet" href="../css/c02.css">
    <title>Ex01 - Cap02</title>
</head>
<body>

    <h1>ElderFlower</h1>
    <div id="content">
        <h2>Custom Signage</h2>
        <div id="cost"></div>
        <img src="../images/preview.jpg" alt="imgPreview">
    </div>


    <script>
        //Variáveis com preco e quantidade de letras na placa
        var preco = 5, quantidade = 14, total = preco * quantidade

        //Valor total pela placa
        var elemento = document.getElementById('cost')
        elemento.textContent = `$${total}`
    
    </script>
    
</body>
</html>