<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ex02</title>
    <link rel="stylesheet" href="/css/c02.css">
    <link rel="icon" href="/images/logo.jpg">
</head>
<body>
    <h1>Elderflower</h1>
    <div id="content">
        <div id="title">
            Olá
            <span id="name">Amigo</span>!
        </div>
        <div id="note" onclick="window.location.href = 'ex03_cap02'">Take a look around</div>
    </div>
    
    <script src="/js/ex02.js"></script>
</body>
</html>