<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--Usando operadores Aritméticos EX08 - CAP02-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/logo.jpg">
    <link rel="stylesheet" href="../css/c02.css">
    <title>Ex08 - Cap02</title>
</head>
<body>
    <h1></h1>
    <div id="content">
      <div class="message">
        Subtotal: <span id="subt"></span><br>
        valor unico: <span id="value_unic"></span><br>
        Total: <span id="grandTotal"></span><br>      
      </div>
      <br>
    </div>
    <script src="js/ex08.js"></script>
</body>
</html>