<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--
        PAGINA PRINCIPAL DO CAP 02 DO LIVRO, 
        ONDE SERA EXIBIDO UMA TABELA COM OS LINKS DOS EXERCICIOS.
    -->
    <link rel="icon" href="/images/logo.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exercicios Cap02</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/mainc02.css">
</head>
<body>
   <nav class="navbar navbar-dak bg-dark">
       <div class="container">
            <h1 id="tituloBook">
                JAVASCRIPT & JQUERY
            </h1>
       </div>
   </nav>
   <br>
   <main>
       <section class="container">
            <div class="page-header">
                <center>
                    <h2>Execicios do Capitulo 2: Basic JavaScript Instructions</h2>
                </center>
            </div>
            <div class="page-body">
                <center>
                    <table class="table table-hover">
                        <thead>
                            <th>N° Exercicio</th>
                            <th>Descrição</th>
                            <th>Link do Exemplo</th>
                        </thead>
                        <tbody>
                            <tr><!--Linha 01-->
                                <td>#1</td>
                                <td>Usando uma variável para armazenar um valor numérico</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex01_cap02')">
                                        ver exemplo
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 02-->
                                <td>#2</td>
                                <td>Usando uma variável para armazenar uma String</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex02_cap02')">
                                        ver exemplo
                                    </button>
                                </td>
                            </tr>
                            <tr><!--Linha 03-->
                                <td>#3</td>
                                <td>Usando aspas dentro de uma String</td>
                                <td>
                                    <button type="button" class="btn btn-info btn-sm" onclick="window.open('ex03_cap02')">
                                        ver exemplo
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
       </section>
   </main>
</body>
</html>