<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="../images/logo.jpg">
    <link rel="stylesheet" href="../css/c05.css">

    <title>Ex01 - Cap05</title>
</head>
<body>
    <div class="container-center">
        <h1 id="header">List king</h1>
        <h2>Buy groceries</h2>

        <ul>
            <li id="one" class="hot">
                <em>Fresh</em> figs
            </li>
            <li id="two" class="hot">pine nuts</li>
            <li id="three" class="hot">honey</li>
            <li id="four">balsamic vinegar</li>
        </ul>
    </div>
    

    <!-- JS -->
    <script>
        //seleciona a tag que possui o id "one"
        var z = document.getElementById('one')

        //troca a classe do elemento para 'cool'
        z.className = 'cool'
    </script>
</body>
</html>