<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="../images/logo.jpg">
    <link rel="stylesheet" href="../css/c05.css">
    <title>Ex11 - Cap05</title>

</head>
<body>
    <ul id="lista01">
        <li id="1" class="hot">
            <em>Fresh</em> figs
        </li>
        <li id="2" class="cool">pine nuts</li> 
        <li id="3" class="hot">honey</li>
        <li id="4" class="normal">balsamic vinegar</li>
        <li id="5" class="hot">Apple</li>
        
    </ul>
    <div id="scriptResults"></div>

    <!-- JS -->
    <script>
        setTimeout(() => {
            window.location.reload()
        }, 2500)

        var valorAleatorio = Math.round(Math.random() * 5)
        
        var itemEmQuestao = document.getElementById(valorAleatorio)
        var elemento = document.getElementById('scriptResults')

        if(itemEmQuestao.hasAttribute('class')){
            var atributo = itemEmQuestao.getAttribute('class')
            var qualID = itemEmQuestao.id
            
            elemento.innerHTML = `<p>O item <strong style="font-size: 22px;">${qualID}</strong> da lista tem uma class com nome: <b style="font-size: 22px;">${atributo}</b></p>` 
       }
    
    </script>
</body>
</html>